<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Including bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="site.css" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Url - Saved Urls</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto mt-5">
        <div class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="text-center">

            <h1 class="mb-3">Mighty Url</h1>
            <p class="">Below are all the Urls that have been previously run through this app</p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Clicks</th>
                            <th>Short URL</th>
                            <th class="text-start">Full URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% shortUrls.forEach(element => { %>
                            <tr>
                                <td>
                                    <%= element.clicks %>
                                </td>
                                <td>
                                    <a href="<%= element.short %>"><%= element.short %></a>
                                </td>
                                <td class="text-start">
                                    <a href="<%= element.full %>"><%= element.full %></a>
                                </td>
                            </tr>                        
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-6 position-relative">
                    <a href="/" class="btn btn-outline-secondary btn-sm rounded-5 position-absolute bottom-0 start-0">Back to home</a>
                </div>
                <div class="col-6">
                    <p class="mt-4 mb-0 text-muted align-right text-end">By Mitch Reidy</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</body>
</html>